<!-- User's Created Groups -->

<h1>Your Owned Groups</h1>
<ul>
    <% current_user.owned_groups.each do |g| %>
        <li><%= link_to g.name,g %></li>
    <% end %>
</ul>

<%= button_to "Create Group", new_group_path, method: :get %>

<!-- User's Joined Groups -->

<h1>Groups</h1>
<ul>
    <% current_user.groups_joined_not_owned.each do |g| %>
      <li><%= g.name %></li>
    <% end %>
</ul>

<!-- Browse Groups -->
<div>
    <%= button_to "Browse Groups", groups_path, method: :get %>
</div>