<!-- Background image -->
<%= image_tag "background.png", style: "z-index: -1; position:fixed; opacity: 0.9; width: 100vw; height: 100vh;" %>

<!-- Main Content -->

<div class="container">

  <!-- Nav back link -->
  <div class="row">
    <div class="col s12">
      <%= link_to content_tag(:i, "arrow_left", class: "tiny material-icons")+ "Back to home", home_path, class: "valign-wrapper" %>
    </div>
  </div>

    <div class="row">
        <h3 class="col s12">Public Groups</h3>
    </div>

    <div class="row">

        <% @groups.each do |g| %>
            <%= render partial: 'group_card', locals: {g: g} %>
        <% end %>

    </div>

</div>