<h1>Members</h1>

<% if admin_of(current_group) %>
    <%= button_to "Edit Members", edit_members_group_path(current_group), method: :get %>
<% end %>

<ul>
    <% current_group_members.each do |member| %>
        <li><%= link_to member.user_name, member.user %></li>
    <% end %>
</ul>