<!-- Profile Image -->
<img src="<%= @user_profile.image %>">
<!-- Display Name -->
<h1><%= @user_profile.display_name %></h1>
<!-- Owned Groups -->
<h3>Owned Groups</h3>
<% @user_profile.owned_groups_public_only.each do |g| %>
    <li><%= link_to g.name,g %></li>
<% end %>

<% if viewing_current_user %>
    <%= button_to "Edit Profile", edit_user_path(@user_profile), method: :get %>
<% end %>