<!-- Profile Image -->
<img src="<%= @user.image %>">
<!-- Display Name -->
<h1><%= @user.display_name %></h1>
<!-- Owned Groups -->
<h3>Owned Groups</h3>
<% @user.owned_groups_public_only.each do |g| %>
    <li><%= link_to g.name,g %></li>
<% end %>