<h1>Edit Playlist</h1>

<%= render partial: "form", locals: {playlist: current_playlist, btn_name: "Save"} %>


<% if admin_of(current_group) %>
    <%= button_to "DELETE PLAYLIST", [current_group,current_playlist], method: :delete, data: {confirm: "Are you sure you want to delete the playlist?"} %>
<% end %>